[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"

[scripts]
start = "python manage.py runserver"
build-styles = "npx tailwindcss -i ./tailwind.css -o ./static/css/globals.css --watch"
