<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    {% block title %}Title{% endblock%} 
    {% comment %} 
        Alpine JS 
        TailWind CSS &
        Daisy UI 
    {% endcomment %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css"/>
    {% block head %} Head Elements {% endblock  %}
  </head>
  <body>

    {% block modals %} Modals {% endblock %}


    {% block content %}Content{% endblock %}


    {%block scripts%}Scripts{% endblock %}
  </body>
</html>
