{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {% block title %} Page Title{% endblock%} </title>
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/styles.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'dashboard/icons/favicon.ico' %}">
    {% block head %} Head Elements {% endblock %}
  </head>
  <body>
    {% block modals %} Modals {% endblock modals %} 
    
    {% block content %}Content{% endblock content %}

    <script src="{% static 'js/jQueryV3.7.1.js' %}"></script>
    <script src="{% static 'dashboard/js/main.js' %}"></script>
    {%block scripts%}Scripts{% endblock scripts %}
  </body>
</html>

